@import "tailwindcss";


body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#article:hover {
    transform: translateX(4px);
    transition: all .1s ease-in;
}