---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import ScrollDown from "../assets/scrollDown.svg";
import { FiArrowUpRight } from "react-icons/fi";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <header class="relative">
    <Header />
  </header>
  <div
    class="w-40 md:w-56 lg:w-60 absolute z-50 -bottom-36 md:-bottom-52 right-5 md:right-20"
  >
    <ScrollDown />
  </div>
  <section
    class="min-h-screen mt-48 grid grid-cols-1 md:grid-cols-2 md:gap-20 px-5 md:px-14"
  >
    <div class="flex flex-col">
      <i class="h-1 w-40 bg-blue-500"></i>
      <h1 class="md:text-6xl w-4/5 text-4xl leading-16 md:leading-20 mt-5">
        About our investment firm
      </h1>
    </div>
    <div>
      <p class="text-xl leading-10">
        Lorem ipsum dolor sit amet consectetur adipiscing elit dignissim viverra
        ipsum nunc pharetra in tempor scelerisque eget mattis ac a sit cursus et
        donec mattis. Et sem lorem pellentesque elementum egestas nisl aliquam
        hendrerit non volutpat quis nisi odio vel faucibus.
      </p>

      <button
        class="text-2xl mt-8 flex items-center w-fit border-b-2 hover:border-b-0 transition-all duration-75 ease-linear leading-14"
      >
        <span>Get in touch</span>
        <span class="text-3xl"> <FiArrowUpRight /> </span>
      </button>
    </div>
  </section>
</Layout>
