---

---

<footer class="pb-14">
  <div class="flex flex-col md:flex-row justify-between text-center">
    <h1 class="flex flex-col">
      <span class="text-3xl md:text-5xl">Investor X</span>
    </h1>
    <p class="md:w-2/4 w-full mt-5 md:mt-0 font-medium">
      Lorem ipsum dolor sit amet consectetur adipiscing elit cras elitolil me
      magna blandit sed egestas augue etiam massa nec.
    </p>
  </div>
  <hr class="md:my-28 my-14 text-neutral-500" />
  <div
    class="flex flex-col md:flex-row justify-between items-start text-[18px] text-neutral-300"
  >
    <div class="flex">
      <ul>
        <li class="text-white font-medium text-[20px]">Pages</li>
        <li class="mt-4">Home</li>
        <li class="mt-4">About</li>
        <li class="mt-4">Blog</li>
        <li class="mt-4">Blog Post</li>
        <li class="mt-4">Contact</li>
        <li class="mt-4">Portfolio</li>
        <li class="mt-4">Portfolio Single</li>
      </ul>
      <ul class="ml-16">
        <li class="mt-4">Investors</li>
        <li class="mt-4">Investor Single</li>
        <li class="mt-4">Shop</li>
        <li class="mt-4">Shop Single</li>
      </ul>
    </div>
    <ul class="mt-10 lg:mt-0">
      <li class="mt-4 text-white font-medium text-[20px]">Start Here</li>
      <li class="mt-4">Style Guide</li>
      <li class="mt-4">404 Not Found</li>
      <li class="mt-4">Password Protected</li>
      <li class="mt-4">Licences</li>
      <li class="mt-4">Changelog</li>
      <li>
        <button
          class="text-xl w-fit mt-4 flex items-center border-b-2 hover:border-b-0 transition-all duration-75 ease-linear leading-10"
        >
          <span class="font-medium">Browse all articles</span>
        </button>
      </li>
    </ul>
    <div class="flex flex-col md:w-2/6 items-start mt-10 lg:mt-0">
      <h1 class="text-[20px] font-medium text-white">
        Subscribe to our newsletter
      </h1>
      <p class="text-[18px] my-5">
        Lorem ipsum dolor sit amet consectetur adipiscin elit aliquam mauris sed
        ma
      </p>
      <label class="text-[18px] font-medium" for="newsletter"
        >Email address</label
      >
      <input
        class="border-0 border-b mt-3 w-full focus:ring-0 focus:ring-offset-0 focus:outline-none"
        type="email"
        name=""
        id="newsletter"
      />
      <button class="mt-10 bg-white hover:bg-gray-100 p-4 text-black font-bold"
        >Subscribe</button
      >
    </div>
  </div>
  <hr class="mt-14 block text-neutral-500" />
  <p class="text-center md:text-start mt-7 text-[18px] text-neutral-300 font-medium">
    Copyright © Investor X - Designed by <span class="font-bold ml-1 underline text-white"> Olamide</span> - Powered by Tailwind css
  </p>
</footer>
