---

---

<nav style="background: #0E141C;" class="text-white py-10">
  <div class="flex justify-between items-center">
    <h1 class="text-4xl">Investor X</h1>
    <ul class="md:flex hidden text-xl">
      <li class="mr-8">Home</li>
      <li class="mr-8">About</li>
      <li class="mr-8">Pages</li>
      <li class="mr-8">Portfolio</li>
      <li class="mr-8">Contact</li>
    </ul>
  </div>
</nav>
